<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.djk.manager.single.mapper.BhAuthNoticeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.djk.manager.single.model.BhAuthNoticeTemplate" >
    <id column="notice_temp_code" property="noticeTempCode" jdbcType="VARCHAR" />
    <result column="notice_temp_content" property="noticeTempContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    notice_temp_code, notice_temp_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bh_auth_notice_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bh_auth_notice_template
    where notice_temp_code = #{noticeTempCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_auth_notice_template
    where notice_temp_code = #{noticeTempCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplateExample" >
    delete from bh_auth_notice_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplate" >
    insert into bh_auth_notice_template (notice_temp_code, notice_temp_content
      )
    values (#{noticeTempCode,jdbcType=VARCHAR}, #{noticeTempContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplate" >
    insert into bh_auth_notice_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeTempCode != null" >
        notice_temp_code,
      </if>
      <if test="noticeTempContent != null" >
        notice_temp_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeTempCode != null" >
        #{noticeTempCode,jdbcType=VARCHAR},
      </if>
      <if test="noticeTempContent != null" >
        #{noticeTempContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplateExample" resultType="java.lang.Integer" >
    select count(*) from bh_auth_notice_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_auth_notice_template
    <set >
      <if test="record.noticeTempCode != null" >
        notice_temp_code = #{record.noticeTempCode,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeTempContent != null" >
        notice_temp_content = #{record.noticeTempContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_auth_notice_template
    set notice_temp_code = #{record.noticeTempCode,jdbcType=VARCHAR},
      notice_temp_content = #{record.noticeTempContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplate" >
    update bh_auth_notice_template
    <set >
      <if test="noticeTempContent != null" >
        notice_temp_content = #{noticeTempContent,jdbcType=VARCHAR},
      </if>
    </set>
    where notice_temp_code = #{noticeTempCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.djk.manager.single.model.BhAuthNoticeTemplate" >
    update bh_auth_notice_template
    set notice_temp_content = #{noticeTempContent,jdbcType=VARCHAR}
    where notice_temp_code = #{noticeTempCode,jdbcType=VARCHAR}
  </update>
</mapper>