<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.djk.manager.single.mapper.BhSysServRouterMainMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.djk.manager.single.model.BhSysServRouterMain" >
    <id column="router_id" property="routerId" jdbcType="CHAR" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="service_ip" property="serviceIp" jdbcType="VARCHAR" />
    <result column="service_port" property="servicePort" jdbcType="VARCHAR" />
    <result column="service_context" property="serviceContext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    router_id, service_name, service_ip, service_port, service_context
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bh_sys_serv_router_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bh_sys_serv_router_main
    where router_id = #{routerId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_sys_serv_router_main
    where router_id = #{routerId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMainExample" >
    delete from bh_sys_serv_router_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMain" >
    insert into bh_sys_serv_router_main (router_id, service_name, service_ip, 
      service_port, service_context)
    values (#{routerId,jdbcType=CHAR}, #{serviceName,jdbcType=VARCHAR}, #{serviceIp,jdbcType=VARCHAR}, 
      #{servicePort,jdbcType=VARCHAR}, #{serviceContext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMain" >
    insert into bh_sys_serv_router_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="routerId != null" >
        router_id,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="serviceIp != null" >
        service_ip,
      </if>
      <if test="servicePort != null" >
        service_port,
      </if>
      <if test="serviceContext != null" >
        service_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="routerId != null" >
        #{routerId,jdbcType=CHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="servicePort != null" >
        #{servicePort,jdbcType=VARCHAR},
      </if>
      <if test="serviceContext != null" >
        #{serviceContext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMainExample" resultType="java.lang.Integer" >
    select count(*) from bh_sys_serv_router_main
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_sys_serv_router_main
    <set >
      <if test="record.routerId != null" >
        router_id = #{record.routerId,jdbcType=CHAR},
      </if>
      <if test="record.serviceName != null" >
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceIp != null" >
        service_ip = #{record.serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePort != null" >
        service_port = #{record.servicePort,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceContext != null" >
        service_context = #{record.serviceContext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_sys_serv_router_main
    set router_id = #{record.routerId,jdbcType=CHAR},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      service_ip = #{record.serviceIp,jdbcType=VARCHAR},
      service_port = #{record.servicePort,jdbcType=VARCHAR},
      service_context = #{record.serviceContext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMain" >
    update bh_sys_serv_router_main
    <set >
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceIp != null" >
        service_ip = #{serviceIp,jdbcType=VARCHAR},
      </if>
      <if test="servicePort != null" >
        service_port = #{servicePort,jdbcType=VARCHAR},
      </if>
      <if test="serviceContext != null" >
        service_context = #{serviceContext,jdbcType=VARCHAR},
      </if>
    </set>
    where router_id = #{routerId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.djk.manager.single.model.BhSysServRouterMain" >
    update bh_sys_serv_router_main
    set service_name = #{serviceName,jdbcType=VARCHAR},
      service_ip = #{serviceIp,jdbcType=VARCHAR},
      service_port = #{servicePort,jdbcType=VARCHAR},
      service_context = #{serviceContext,jdbcType=VARCHAR}
    where router_id = #{routerId,jdbcType=CHAR}
  </update>
</mapper>