<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.djk.manager.single.mapper.BhSysBaseDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.djk.manager.single.model.BhSysBaseDictionary" >
    <id column="dict_id" property="dictId" jdbcType="CHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="dict_parent_id" property="dictParentId" jdbcType="CHAR" />
    <result column="dict_parent_name" property="dictParentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dict_id, dict_name, dict_parent_id, dict_parent_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bh_sys_base_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bh_sys_base_dictionary
    where dict_id = #{dictId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_sys_base_dictionary
    where dict_id = #{dictId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionaryExample" >
    delete from bh_sys_base_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionary" >
    insert into bh_sys_base_dictionary (dict_id, dict_name, dict_parent_id, 
      dict_parent_name)
    values (#{dictId,jdbcType=CHAR}, #{dictName,jdbcType=VARCHAR}, #{dictParentId,jdbcType=CHAR}, 
      #{dictParentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionary" >
    insert into bh_sys_base_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        dict_id,
      </if>
      <if test="dictName != null" >
        dict_name,
      </if>
      <if test="dictParentId != null" >
        dict_parent_id,
      </if>
      <if test="dictParentName != null" >
        dict_parent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=CHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictParentId != null" >
        #{dictParentId,jdbcType=CHAR},
      </if>
      <if test="dictParentName != null" >
        #{dictParentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionaryExample" resultType="java.lang.Integer" >
    select count(*) from bh_sys_base_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_sys_base_dictionary
    <set >
      <if test="record.dictId != null" >
        dict_id = #{record.dictId,jdbcType=CHAR},
      </if>
      <if test="record.dictName != null" >
        dict_name = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictParentId != null" >
        dict_parent_id = #{record.dictParentId,jdbcType=CHAR},
      </if>
      <if test="record.dictParentName != null" >
        dict_parent_name = #{record.dictParentName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_sys_base_dictionary
    set dict_id = #{record.dictId,jdbcType=CHAR},
      dict_name = #{record.dictName,jdbcType=VARCHAR},
      dict_parent_id = #{record.dictParentId,jdbcType=CHAR},
      dict_parent_name = #{record.dictParentName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionary" >
    update bh_sys_base_dictionary
    <set >
      <if test="dictName != null" >
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictParentId != null" >
        dict_parent_id = #{dictParentId,jdbcType=CHAR},
      </if>
      <if test="dictParentName != null" >
        dict_parent_name = #{dictParentName,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_id = #{dictId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.djk.manager.single.model.BhSysBaseDictionary" >
    update bh_sys_base_dictionary
    set dict_name = #{dictName,jdbcType=VARCHAR},
      dict_parent_id = #{dictParentId,jdbcType=CHAR},
      dict_parent_name = #{dictParentName,jdbcType=VARCHAR}
    where dict_id = #{dictId,jdbcType=CHAR}
  </update>
</mapper>