<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.djk.manager.single.mapper.BhSysFeedbackInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.djk.manager.single.model.BhSysFeedbackInfo" >
    <id column="feedback_id" property="feedbackId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="serv_user_id" property="servUserId" jdbcType="CHAR" />
    <result column="serv_user_name" property="servUserName" jdbcType="VARCHAR" />
    <result column="feedback_user_content" property="feedbackUserContent" jdbcType="VARCHAR" />
    <result column="feedback_serv_content" property="feedbackServContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="feedback_time" property="feedbackTime" jdbcType="TIMESTAMP" />
    <result column="feedback_status" property="feedbackStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    feedback_id, user_id, user_name, serv_user_id, serv_user_name, feedback_user_content, 
    feedback_serv_content, create_time, feedback_time, feedback_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bh_sys_feedback_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bh_sys_feedback_info
    where feedback_id = #{feedbackId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_sys_feedback_info
    where feedback_id = #{feedbackId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfoExample" >
    delete from bh_sys_feedback_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfo" >
    insert into bh_sys_feedback_info (feedback_id, user_id, user_name, 
      serv_user_id, serv_user_name, feedback_user_content, 
      feedback_serv_content, create_time, feedback_time, 
      feedback_status)
    values (#{feedbackId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{servUserId,jdbcType=CHAR}, #{servUserName,jdbcType=VARCHAR}, #{feedbackUserContent,jdbcType=VARCHAR}, 
      #{feedbackServContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{feedbackTime,jdbcType=TIMESTAMP}, 
      #{feedbackStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfo" >
    insert into bh_sys_feedback_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="feedbackId != null" >
        feedback_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="servUserId != null" >
        serv_user_id,
      </if>
      <if test="servUserName != null" >
        serv_user_name,
      </if>
      <if test="feedbackUserContent != null" >
        feedback_user_content,
      </if>
      <if test="feedbackServContent != null" >
        feedback_serv_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="feedbackTime != null" >
        feedback_time,
      </if>
      <if test="feedbackStatus != null" >
        feedback_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="feedbackId != null" >
        #{feedbackId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="servUserId != null" >
        #{servUserId,jdbcType=CHAR},
      </if>
      <if test="servUserName != null" >
        #{servUserName,jdbcType=VARCHAR},
      </if>
      <if test="feedbackUserContent != null" >
        #{feedbackUserContent,jdbcType=VARCHAR},
      </if>
      <if test="feedbackServContent != null" >
        #{feedbackServContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackTime != null" >
        #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackStatus != null" >
        #{feedbackStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfoExample" resultType="java.lang.Integer" >
    select count(*) from bh_sys_feedback_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_sys_feedback_info
    <set >
      <if test="record.feedbackId != null" >
        feedback_id = #{record.feedbackId,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.servUserId != null" >
        serv_user_id = #{record.servUserId,jdbcType=CHAR},
      </if>
      <if test="record.servUserName != null" >
        serv_user_name = #{record.servUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackUserContent != null" >
        feedback_user_content = #{record.feedbackUserContent,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackServContent != null" >
        feedback_serv_content = #{record.feedbackServContent,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.feedbackTime != null" >
        feedback_time = #{record.feedbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.feedbackStatus != null" >
        feedback_status = #{record.feedbackStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_sys_feedback_info
    set feedback_id = #{record.feedbackId,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=CHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      serv_user_id = #{record.servUserId,jdbcType=CHAR},
      serv_user_name = #{record.servUserName,jdbcType=VARCHAR},
      feedback_user_content = #{record.feedbackUserContent,jdbcType=VARCHAR},
      feedback_serv_content = #{record.feedbackServContent,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      feedback_time = #{record.feedbackTime,jdbcType=TIMESTAMP},
      feedback_status = #{record.feedbackStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfo" >
    update bh_sys_feedback_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="servUserId != null" >
        serv_user_id = #{servUserId,jdbcType=CHAR},
      </if>
      <if test="servUserName != null" >
        serv_user_name = #{servUserName,jdbcType=VARCHAR},
      </if>
      <if test="feedbackUserContent != null" >
        feedback_user_content = #{feedbackUserContent,jdbcType=VARCHAR},
      </if>
      <if test="feedbackServContent != null" >
        feedback_serv_content = #{feedbackServContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackTime != null" >
        feedback_time = #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="feedbackStatus != null" >
        feedback_status = #{feedbackStatus,jdbcType=CHAR},
      </if>
    </set>
    where feedback_id = #{feedbackId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.djk.manager.single.model.BhSysFeedbackInfo" >
    update bh_sys_feedback_info
    set user_id = #{userId,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      serv_user_id = #{servUserId,jdbcType=CHAR},
      serv_user_name = #{servUserName,jdbcType=VARCHAR},
      feedback_user_content = #{feedbackUserContent,jdbcType=VARCHAR},
      feedback_serv_content = #{feedbackServContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      feedback_time = #{feedbackTime,jdbcType=TIMESTAMP},
      feedback_status = #{feedbackStatus,jdbcType=CHAR}
    where feedback_id = #{feedbackId,jdbcType=CHAR}
  </update>
</mapper>