<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.djk.manager.single.mapper.BhMonitorTestTempMapper" >
  <resultMap id="BaseResultMap" type="com.dcits.djk.manager.single.model.BhMonitorTestTemp" >
    <id column="service_node_id" property="serviceNodeId" jdbcType="CHAR" />
    <result column="service_url" property="serviceUrl" jdbcType="VARCHAR" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    service_node_id, service_url, service_name, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bh_monitor_test_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bh_monitor_test_temp
    where service_node_id = #{serviceNodeId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_monitor_test_temp
    where service_node_id = #{serviceNodeId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTempExample" >
    delete from bh_monitor_test_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTemp" >
    insert into bh_monitor_test_temp (service_node_id, service_url, service_name, 
      update_time)
    values (#{serviceNodeId,jdbcType=CHAR}, #{serviceUrl,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTemp" >
    insert into bh_monitor_test_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceNodeId != null" >
        service_node_id,
      </if>
      <if test="serviceUrl != null" >
        service_url,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceNodeId != null" >
        #{serviceNodeId,jdbcType=CHAR},
      </if>
      <if test="serviceUrl != null" >
        #{serviceUrl,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTempExample" resultType="java.lang.Integer" >
    select count(*) from bh_monitor_test_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_monitor_test_temp
    <set >
      <if test="record.serviceNodeId != null" >
        service_node_id = #{record.serviceNodeId,jdbcType=CHAR},
      </if>
      <if test="record.serviceUrl != null" >
        service_url = #{record.serviceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceName != null" >
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_monitor_test_temp
    set service_node_id = #{record.serviceNodeId,jdbcType=CHAR},
      service_url = #{record.serviceUrl,jdbcType=VARCHAR},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTemp" >
    update bh_monitor_test_temp
    <set >
      <if test="serviceUrl != null" >
        service_url = #{serviceUrl,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where service_node_id = #{serviceNodeId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.djk.manager.single.model.BhMonitorTestTemp" >
    update bh_monitor_test_temp
    set service_url = #{serviceUrl,jdbcType=VARCHAR},
      service_name = #{serviceName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where service_node_id = #{serviceNodeId,jdbcType=CHAR}
  </update>
</mapper>